:root {
  --cs-card-background-color: var(--cs-app-background);
  --cs-card-border-radius: var(--cs-app-border-radius);
  --cs-card-box-shadow: var(--cs-app-box-shadow);
  --cs-card-padding: 12px;
  --cs-card-gap: 9px;
}

.cs-card {
  display: flex;
  flex-direction: column;
  background-color: var(--cs-card-background-color);
  border-radius: var(--cs-card-border-radius);
  box-shadow: var(--cs-card-box-shadow);
  padding: var(--cs-card-padding);
  gap: var(--cs-card-gap);
}