:root {
  --cs-card-background-color: var(--cs-app-background);
  --cs-card-border-radius: var(--cs-app-border-radius);
  --cs-card-box-shadow: var(--cs-app-box-shadow);
  --cs-card-padding: 20px;
  --cs-card-gap: 9px;
}

.cs-card {
  display: flex;
  flex-direction: column;
  background-color: var(--cs-card-background-color);
  border-radius: var(--cs-card-border-radius);
  padding: var(--cs-card-padding);
  gap: var(--cs-card-gap);
}

.cs-card-elevated {
  box-shadow: var(--cs-card-box-shadow);
}

.cs-card-outlined {
  border: var(--cs-app-border-width) solid var(--cs-app-border-color);
}

/* Card List */ 
:root {
  --cs-card-list-gap: 9px; 
  --cs-card-list-padding: 6px; 

  --cs-card-list-item-background: var(--cs-app-background);
  --cs-card-list-item-gap: 6px; 
  --cs-card-list-item-padding: 6px 12px; 
  --cs-card-list-item-hover-background: light-dark(var(--cs-color-grays-lighterer), var(--cs-color-grays-darkest));
}

.cs-card-list {
  padding: var(--cs-card-list-padding);
  gap: var(--cs-card-list-gap); 
}

.cs-card-list-item {
  background-color: var(--cs-card-list-item-background);
  border-radius: var(--cs-app-border-radius);
  gap: var(--cs-card-list-item-gap); 
  padding: var(--cs-card-list-item-padding); 
}

.cs-card-list-item:hover {
  background-color: var(--cs-card-list-item-hover-background); 
}