/* 
  * Button Component Variables
  * These variables define the colors and styles for different button types.
  */
:root {
  --cs-button-border-radius: var(--cs-app-border-radius);
  --cs-button-padding: 0.6rem 1.2rem;

  --cs-button-default-background: transparent;
  --cs-button-default-text: var(--cs-action);
  --cs-button-default-hover: var(--cs-action-hover);
  --cs-button-default-focus: var(--cs-action-focus);
  --cs-button-default-active: var(--cs-action-active);
  --cs-button-default-disabled: var(--cs-action-disabled);

  --cs-button-outlined-background: transparent;
  --cs-button-outlined-border: var(--cs-action);
  --cs-button-outlined-text: var(--cs-action);
  --cs-button-outlined-hover-border: var(--cs-action-hover);
  --cs-button-outlined-focus-border: var(--cs-action-focus);
  --cs-button-outlined-active-border: var(--cs-action-active); 
  --cs-button-outlined-disabled-border: var(--cs-action-disabled);

  --cs-button-filled-background: var(--cs-action);
  --cs-button-filled-text: var(--cs-action-text);
  --cs-button-filled-hover: var(--cs-action-hover);
  --cs-button-filled-focus: var(--cs-action-focus);
  --cs-button-filled-active: var(--cs-action-active);
  --cs-button-filled-disabled: var(--cs-action-disabled);
}

/* 
  * Button Component Styles
  * These styles apply to the button component, including default, outlined, and filled styles.
  */
  
/* default button */ 
.cs-button {
  background-color: var(--cs-button-default-background);
  border-radius: var(--cs-button-border-radius);
  border: 2px solid transparent;
  color: var(--cs-button-default-text);
  cursor: pointer;
  display: flex; 
  flex-direction: row; 
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: var(--cs-button-padding);
  transition: all var(--cs-app-animation-duration);
}

.cs-button:hover {
  color: var(--cs-button-default-hover);
}

.cs-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  color: var(--cs-button-default-focus);
}

.cs-button:active {
  color: var(--cs-button-default-active);
}

.cs-button:disabled {
  color: var(--cs-button-default-disabled);
  pointer-events: none; 
  cursor: not-allowed;
}

/*
  * Button Shape Round 
  * These styles apply to the different button shapes: default and round 
  */
.cs-button-round {
  border-radius: 99999px; 
  padding: 6px;
}

.cs-button-round svg {
  scale: 1;
}

.cs-button-round.cs-button-small {
  padding: 3px; 
}

.cs-button-round.cs-button-small svg {
  scale: 0.8; 
}

/* 
  * Button Variants
  * These styles apply to the different button variants: default, outlined, and filled.
  */
/* outlined button */ 
.cs-button-outlined {
  background-color: var(--cs-button-outlined-background);
  color: var(--cs-button-outlined-text);
  border-color: var(--cs-button-outlined-border);
}

.cs-button-outlined:hover {
  border-color: var(--cs-button-outlined-hover-border);
}

.cs-button-outlined:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: var(--cs-button-outlined-focus-border);
}

.cs-button-outlined:active {
  border-color: var(--cs-button-outlined-active-border);
}

.cs-button-outlined:disabled {
  border-color: var(--cs-button-outlined-disabled-border);
  pointer-events: none; 
  cursor: not-allowed;
}

/* filled button */ 
.cs-button-filled {
  background-color: var(--cs-button-filled-background);
  border-color: var(--cs-button-filled-background); 
  color: var(--cs-button-filled-text);
}

.cs-button-filled:hover {
  background-color: var(--cs-button-filled-hover);
  border-color: var(--cs-button-filled-hover);
  color: var(--cs-button-filled-text);
}

.cs-button-filled:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: var(--cs-button-filled-focus);
  border-color: var(--cs-button-filled-focus);
  color: var(--cs-button-filled-text);
}

.cs-button-filled:active {
  background-color: var(--cs-button-filled-active);
  border-color: var(--cs-button-filled-active);
  color: var(--cs-button-filled-text);
}

.cs-button-filled:disabled {
  background-color: var(--cs-button-filled-disabled);
  border-color: var(--cs-button-filled-disabled);
  pointer-events: none; 
  cursor: not-allowed;
  color: var(--cs-button-filled-text);
}