[data-theme='dark'] {
  color-scheme: dark; 
}

[data-theme='light'] {
  color-scheme: light; 
}

html {
  color-scheme: light dark;
}

html,
body {
  background-color: var(--cs-app-background);
  color: var(--cs-app-color);
  font-family: var(--cs-app-font-family); 
  font-size: var(--cs-app-font-size);
  font-weight: var(--cs-app-font-weight);
  line-height: var(--cs-app-line-height);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  block-size: 100vh;
  inline-size: 100vw;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px; 
}

hr {
  border: none;
  border-top: var(--cs-app-border-width) solid var(--cs-app-border-color);
  margin: 1em 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.cs-logo {
  width: 240px;
  height: 220px;
  display: block;
  margin: auto;
  fill: none;
  stroke: currentColor;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
}