[data-theme='dark'] {
  color-scheme: dark; 
}

[data-theme='light'] {
  color-scheme: light; 
}

html {
  color-scheme: light dark;
}

html,
body {
  background-color: var(--cs-app-background);
  color: var(--cs-app-color);
  font-family: var(--cs-app-font-family); 
  font-size: var(--cs-app-font-size);
  font-weight: var(--cs-app-font-weight);
  line-height: var(--cs-app-line-height);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  block-size: 100vh;
  inline-size: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px; 
}

h2 {
  font-size: 2.4em;
  line-height: 1.2;
  margin: 0px; 
}

hr {
  border: none;
  border-top: var(--cs-app-border-width) solid var(--cs-app-border-color);
  margin: 1em 0;
}