.cs-input-secret-container {
  background-color: var(--cs-app-background);
  padding: 6px 12px; 
  border-radius: var(--cs-app-border-radius);
}

.cs-input-secret-container:hover {
  background-color: light-dark(var(--cs-color-grays-lighterer), var(--cs-color-grays-darkest));
}

.cs-input-secret-container .cs-input {
  /* width: 100%; */
  font-family: monospace;
  font-size: 0.85rem;
}