:root {
  --cs-nav-background-color: light-dark(var(--cs-color-grays-lightest), var(--cs-color-grays-darkest));
  --cs-nav-border-width: var(--cs-app-border-width);
  --cs-nav-border-color: var(--cs-app-border-color);
  --cs-nav-gap: 12px;
  --cs-nav-links-gap: 18px;
  --cs-nav-links-justify-content: flex-start; 
  /* --cs-nav-links-a-color: light-dark(var(--cs-), var(--cs-color-grays-light)); */
  --cs-nav-links-a-color: var(--cs-app-color);
  --cs-nav-links-a-hover-color: var(--cs-action-hover);
  --cs-nav-links-a-focus-color: var(--cs-action-focus);
  --cs-nav-links-a-active-color: var(--cs-action-active);
}

.cs-nav {
  border-block-end: var(--cs-footer-border-width) solid var(--cs-footer-border-color);
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  block-size: 66px;
  max-block-size: 66px;
  background-color: var(--cs-nav-background-color);
  gap: var(--cs-nav-gap);
}

.cs-nav a {
  color: var(--cs-nav-links-a-color);
  text-decoration: none;
  font-weight: 500;
}

.cs-nav a:hover {
  color: var(--cs-nav-links-a-hover-color);
  text-decoration: none;
}

.cs-nav a:focus-visible {
  color: var(--cs-nav-links-a-focus-color);
  text-decoration: none;
}

.cs-nav a:active {
  color: var(--cs-nav-links-a-active-color);
  text-decoration: none;
}

.cs-nav-content {
  display: inline-flex; 
  align-items: center;
  justify-content: space-between;
  gap: var(--cs-nav-gap);
}

.cs-nav-logo {
  display: flex; 
  align-items: center;
  padding-inline: 16px;
  color: currentColor; 
  fill: currentColor;
  width: 57px;
  height: 57px;
}

.cs-nav-links-container {
  display: flex; 
  flex-grow: 1;
  justify-content: center;
}

.cs-nav-links {
  display: flex; 
  flex-direction: row;
  justify-content: var(--cs-nav-links-justify-content);
  align-items: center;
  flex-grow: 1;
  gap: var(--cs-nav-links-gap);
  margin-block: 0px;
  padding-inline: 0px;
}

.cs-nav-links li {
  list-style: none; 
}

.cs-nav-user {
  display: flex; 
  flex-direction: row; 
  gap: var(--cs-nav-gap);
  justify-content: flex-end;
  align-items: center;
  padding-inline: 16px;
}

.cs-nav-user-dropdown {
  background-color: var(--cs-nav-background-color);
  z-index: 2000; 
}

.cs-nav-user-dropdown ul {
  display: flex; 
  flex-direction: column;
  gap: var(--cs-nav-gap);
  margin-block: 0px;
  padding-inline: 0px;
}

.cs-nav-user-dropdown li {
  list-style: none; 
  display: flex; 
  align-items: center;
  flex-direction: row; 
  justify-content: flex-end;
  border-radius: var(--cs-app-border-radius);
}

.cs-nav-user-dropdown li a,
.cs-nav-user-dropdown li button {
  display: flex;
  flex-grow: 1;  
  align-items: center;
  flex-direction: row; 
  justify-content: flex-start;
  padding: 3px 6px;
  gap: 9px; 
  border-radius: var(--cs-app-border-radius);
}

.cs-nav-user-dropdown li a:hover,
.cs-nav-user-dropdown li button:hover {
  background-color: light-dark(var(--cs-color-grays-lighter), var(--cs-color-grays-darker));
  text-decoration: none;
}

.cs-nav-user-dropdown li a svg,
.cs-nav-user-dropdown li button svg {
  width: 0.9em;
  height: 0.9em;
}