.cs-token-container {
  background-color: var(--cs-app-background);
  padding: 6px 12px; 
  border-radius: var(--cs-app-border-radius);
}

.cs-token-container:hover {
  background-color: light-dark(var(--cs-color-grays-light), var(--cs-color-grays-darker));
}